<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="~/assets/img/find_user.png" class="user-image img-responsive" />
            </li>
            <li>
                <a class="active-menu" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-3x"></i>Início</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-qrcode fa-3x"></i>Atendimento</a>
            </li>
            <li>
                <a  href="#"><i class="fa fa-bar-chart-o fa-3x"></i>Consultas</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-calendar fa-3x"></i> Calendário</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-3x"></i> Relatório </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-unlock-alt fa-3x"></i> Bloquear</a>
            </li>
        </ul>

    </div>

</nav>